@font-face {
    font-family: "Nocturne";
    src: url("fonts/NocturneSerif-Regular.woff") format("woff");
}

body {
    margin: 0;
    font-family: Nocturne, serif;
}

.section-1, .section-2, .section-3, .section-4 {
    min-height: 100vh;
}

@media screen and (max-width: 320px) {
    .section-1, .section-2, .section-3, .section-4  {
        min-height: 568px;
    }
}

.section-1 {
    background-image: linear-gradient(to right, rgba(255,255,255,.75) 0, rgba(65,59,98,.75) 50%), url("img/background_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} 

.section-2 {
    background-image: url("img/logo_Flex_Kino_opacity.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.section-3 {
    background-color: rgb(64, 59, 98);
    background-image: url("img/logo_Flex_Kino_opacity.svg");    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.section-4 {
    background-color: white;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
} 

.logo-main img {
    width: 10%;
    margin: 30px 0 0 30px;
}

@media screen and (max-width: 320px) {
    .logo-main img {
        width: 150px;
        display: inline-block;
        text-align: center;
    }
}

.main-page-claim-container {
    text-align: right;
}

.main-page-claim {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin: 250px 50px 0 0;
}

@media screen and (max-width: 320px) {
    .main-page-claim {
        width: 80%;
        margin: 0 30px 0 30px;
        display: block;
        text-align: left;
    }
}

.claim-image img {
    height: 80px;
}

@media screen and (max-width: 320px) {
    .claim-image img {
        display: none;
    }
}

.main-page-hr {
    margin: 20px 0;
    width: 80%;
    height: 5px;
    background-color: white;
}

@media screen and (max-width: 320px) {
    .main-page-hr {
        display: none;
    }
}

.main-page-text, .third-page-title {
    font-size: 25px;
    width: 100%;
    line-height: 150%;
    color: white;
}

@media screen and (max-width: 320px) {
    .main-page-text {
        font-size: 20px;
    }
}

.second-page-claim-container {
    text-align: center;
}

@media screen and (max-width: 320px) {
    .second-page-claim-container {
        display: block;
        width: 100%;
        margin: 0 0 0 30px;
        text-align: left;
    }
}

.second-page-claim {
    display: inline-block;
    width: 60%;
    margin-bottom: 80px;
}

.second-page-text {
    font-size: 25px;
    line-height: 150%;
    color: black;
}

@media screen and (max-width: 320px) {
    .second-page-text{
        font-size: 20px;
        display: inline-block;
        text-align: left;
        width: 100%;
    }
}

.second-page-hr {
    margin: 20px 0;
    width: 100%;
    height: 5px;
    background-color: rgb(64, 59, 98);
}

@media screen and (max-width: 320px) {
    .second-page-hr{
        display: none;
    }
}

.offer-title-name {
    font-size: 20px;
    color: rgb(16, 28, 129);
    margin: 0 0 0 20px;
}

.offer-table {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
    .offer-table {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.offer-element {
    flex-basis: 33%;
    margin-bottom: 30px;
}

.offer-title-picture img {
    width: 50px;
    height: 100%;
}

.offer-title {
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.offer-description {
    color: black;
    line-height: 150%;
    padding: 0 30px;
}

.third-page-claim-container {
    text-align: center;
}

@media screen and (max-width: 320px) {
    .third-page-claim-container {
        display: inline-block;
        text-align: left;
        margin-left: 30px;
    }
}

.third-page-claim {
    text-align: center;
    display: inline-block;
    width: 60%;
}

@media screen and (max-width: 320px) {
    .third-page-claim {
        display: inline-block;
        text-align: left;
    }
}

.third-page-hr {
    margin: 20px 0;
    width: 100%;
    height: 5px;
    background-color: white;
}

@media screen and (max-width: 320px) {
    .third-page-hr {
        display: none;
    }
}

.third-page-text {
    margin: 0 30px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 20px;
    line-height: 150%;
    color: white;
}

@media screen and (max-width: 320px) {
    .third-page-text {
        display: block;
    }
}

.third-page-text div {
    display: flex;
    flex-basis: 33.333%;
}

.third-page-text p {
    padding: 0 30px;
}

@media screen and (max-width: 320px) {
    .third-page-text p  {
        font-size: 15px;
        padding: 0;
    }
}

.contact-grid {
    display: flex;
}

@media screen and (max-width: 320px) {
    .contact-grid  {
        display: block;
    }
}

.contact-grid-cell {
    flex-basis: 50%;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .contact-grid-cell {
        display: block;
        text-align: left;
        margin-left: 30px;
    }
}

.contact-logo {
    display: inline;
    margin-left: 30px;
}

.contact-logo img {
    display: inline-block;
    width: 500px;
    margin-right: 100px;
}

@media screen and (max-width: 320px) {
    .contact-logo img  {
        width: 150px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.contact-text{
    text-align: left;
}

.company-name {
    font-size: 60px;
}

@media screen and (max-width: 320px) {
    .company-name, .company-adress, .company-contact-details {
        font-size: 20px
    }
}

.company-address {
    font-size: 20px;
}

.company-contact-details {
    font-size: 20px;
    font-weight: bold; 
}

.colorful-line {
    display: inline-block;
    width:350px;

    position: absolute;
    right: 0;
    bottom: -85px;
}

@media screen and (max-width: 930px) {
    .colorful-line  {
        display: none;
    }
}

.references {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

@media screen and (max-width: 320px) {
    .references {
        position: relative;
        margin-top: 30px;
    }
}

.references p {
    font-size: 15px;
}

.references img {
    height: 50px;
}
